<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>
          Hi, my name is Nara. I am a computer and software engineer and currently an M.Sc. candidate in physics.
        </p>

        <p class="muted">
          This website is maintained by me as part of my academic and research activities.
          For my full profile, projects, and repositories, see
          <a href="https://naavilam.github.io">
            my Academic profile
          </a>.
        </p>
        <p class="muted">
          If you notice any inaccuracies and would like to contribute by suggesting improvements, please feel free to
          contact me.
        </p>
      </div>
    </div>
</section>